[submodule "dependencies/entt"]
	path = dependencies/entt
	url = https://github.com/skypjack/entt
[submodule "dependencies/sdl-gpu"]
	path = dependencies/sdl-gpu
	url = https://github.com/grimfang4/sdl-gpu
